ul{
    list-style-type: none;
    border: 5px solid pink;
    background-color: purple;
    overflow: hidden;
    padding: 1px;
    margin: 1px;
}
li{
float: left;
}
.nav-right{
    float: right;
}
a{
    text-decoration: none;
    color: royalblue;
}
li a{
    display: block;
    color: black;
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 14px;
}
li a:hover{
    background-color: coral;
}
li a.active {
    background-color: darkcyan;
    color: white;
}
div {
    border: 5px solid black;
    border-style: dashed;
    border-radius: -10px --10px 5px dimgrey;
    background-image: linear-gradient(blue,red);
}